.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0 3em;
}

.points {
  display: flex;
  gap: 0.25em;
  min-width: fit-content;
  font-size: 1.1rem;
}
