.button,
.button-full {
  min-width: 5em;
  padding: 0.4em 0.5em;
  font-size: 1rem;
  color: #ffffe4;
  background-color: #ed5d40;
  border: 2px solid #891c29;
  border-radius: 1em;
  box-shadow: 2px 2px 0 #891c29;
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    margin-right: 0.1em;
    box-shadow: 3px 4px 0 #891c29;
  }
}

.button-full {
  width: 100%;
}

.button-small {
  min-width: 5em;
  max-width: fit-content;
  margin: 0.5em 0 0.5em 0.5em;
  font-size: 0.7rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: #2a555e;
  background-color: #b3e7d1;
  border: 2px solid #2a555e;
  border-radius: 1em;
  box-shadow: 2px 2px 0 #2a555e;
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    margin-left: 0.3em;
    box-shadow: 3px 4px 0 #2a555e;
  }
}

.button-nav {
  min-width: 5em;
  font-size: 1rem;
  font-weight: 800;
  padding: 0.2em 0.8em;
  letter-spacing: 0.2em;
  color: #2a555e;
  background-color: #ffffe4;
  border: 2px solid #66d9ef;
  border-radius: 1em;
  box-shadow: 2px 2px 0 #66d9ef;
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    margin-right: 0.2em;
    box-shadow: 3px 4px 0 #66d9ef;
  }
}
