.buttonNav {
  min-width: 5em;
  font-size: 1rem;
  font-weight: 800;
  padding: 0.2em 0.8em;
  letter-spacing: 0.2em;
  color: #2a555e;
  background-color: #ffffe4;
  border: 2px solid #66d9ef;
  border-radius: 1em;
  box-shadow: 2px 2px 0 #66d9ef;
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    margin-right: 0.2em;
    box-shadow: 3px 4px 0 #66d9ef;
  }
}
