@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reusable */
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: rgb(35, 21, 5);
  background-color: #44838f;
}

nav {
  display: flex;
  gap: 1.5em;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  padding: 0.7em 1em;
}

p,
li,
label,
input,
button {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.5em;
}

h1 {
  margin-bottom: 0.1em;
  text-align: center;
  font-family: 'Shrikhand', serif;
  font-size: 4rem;
  letter-spacing: 0.2em;
  color: #ed5d40;
  text-shadow: 3px 3px 0 #891c29;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: #2a555e;
}

::selection {
  color: #ffffe4;
  background-color: rgba(237, 93, 64, 0.7);
}
