body {
  font-family: 'Quicksand', sans-serif;
  color: rgb(35, 21, 5);
  background-color: #44838f;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p,
li,
label,
input,
button {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.5em;
}

h1 {
  text-align: center;
  font-family: 'Shrikhand', serif;
  font-size: 4rem;
  letter-spacing: 0.2em;
  color: #ed5d40;
  text-shadow: -3px 3px 0 #891c29;
}

nav {
  width: 500px;
  padding: 0.2em;
  background-color: #ffffe4;
  border-radius: 1em;
}

.line-numbers {
  width: 400px;
  border-radius: 1em;
}

.challenge {
  width: 700px;
  margin: 0 3em 2em;
  padding: 1em 2em;
  background: #ffffe4;
  border: 2px solid #68d0bd;
  border-radius: 1em;
  box-shadow: -6px 6px 0 #68d0bd;
}

.challenge h2 {
  letter-spacing: 0.2em;
  color: #ed5d40;
}

.challenge-top,
.clues-top,
.solution-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clues {
  margin: 2em 0 1em;
  padding: 0 1em 1em;
  border: 2px dashed #ed5d40;
  border-radius: 1em;
}

.clues-container {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  margin-top: 0.4em;
  padding: 1em;
  background-color: rgba(104, 208, 189, 0.3);
  border-radius: 1em;
}
.clue p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clue-title {
  font-size: 1.1rem;
  font-weight: 800;
  cursor: pointer;
}
.clue {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  box-sizing: border-box;
  padding: 0.7em 1em;
  border-radius: 1em;
  background-color: #ffffe4;
  border: 2px solid #ed5d40;
}

.solution {
  margin: 2em 0 1em;
  padding: 0 1em 0.7em;
  background-color: rgba(104, 208, 189, 0.5);
  border: 2px solid #ed5d40;
  border-radius: 1em;
}
.button {
  min-width: 5em;
  padding: 0.4em 0.2em;
  font-size: 1rem;
  color: #ffffe4;
  background-color: #ed5d40;
  border: 2px solid #891c29;
  border-radius: 1em;
  box-shadow: 2px 2px 0 #891c29;
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    margin-right: 0.1em;
    box-shadow: 3px 4px 0 #891c29;
  }
}
.extra-credit p {
  display: inline;
}
.extra-credit-label {
  color: #ed5d40;
  font-weight: 800;
}
.extra-credit {
  padding: 0.5em 1em;
  margin-bottom: 1.5em;
  border: 2px solid #ed5d40;
  border-radius: 1em;
}

.code-box {
  max-width: 85%;
  min-width: 70%;
}
.line-numbers {
  width: 100%;
}
.code-inline {
  /* width: fit-content; */
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  font-size: 1rem;
  font-weight: 400;
  display: inline;
  line-height: 1.1em;
}

::selection {
  color: #ffffe4;
  background-color: rgba(237, 93, 64, 0.7);
}
