.challenge {
  width: 100%;
  margin: 0 3em 2em;
  padding: 1em 2em;
  background: #ffffe4;
  border: 2px solid #68d0bd;
  border-radius: 1em;
  box-shadow: 6px 6px 0 #68d0bd;
}

.challengeTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.challenge h2 {
  letter-spacing: 0.2em;
  color: #ed5d40;
}

.editorContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
