.clues {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0;
  padding: 1em;
  border: 2px dashed #ed5d40;
  border-radius: 1em;
}

.clues h3 {
  margin: 0;
  font-size: 1.3rem;
}

.cluesContainer {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  margin-top: 0.4em;
  padding: 1em;
  background-color: rgba(104, 208, 189, 0.3);
  border-radius: 1em;
}

.clue {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  box-sizing: border-box;
  padding: 0.7em 1em;
  border-radius: 1em;
  background-color: #ffffe4;
  border: 2px solid #ed5d40;
  transition: transform 0.1s ease-in;

  &:hover {
    transform: scale(1.01);
  }
}

.clueTitle {
  font-size: 1.1rem;
  font-weight: 800;
  cursor: pointer;
}

.clue p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
